td, th{
    border: 1px solid black;
    font-size: 20px;
    padding: 5px 10px;
}
tr:hover{
   background: #000;
   color: white;
   transition: all 1s ease-in-out;
}
p{
    font-weight: 600;
   font-size: 18px;
   margin-top: 30px;
}

button{
    height: 20px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
button:hover{
    background: #000;
   color: white;
   transition: all 1s ease-in-out;
}
body{
    background: rgb(178, 252, 178);
    display: flex;
    justify-content: space-evenly;
}
table{
    width: 350px;
}